@import 'util.scss';

/*#header {
  width: 100px;
  border: 2px solid blue;

  > div {
    width: 10px;
    border: 2px solid blue;
  }
}*/


#header {
  //display: grid;
  display: block;
  width: 100%;
  height: 4em;
  margin: auto;
  padding: 0 2em;
  //grid-template-columns: 2fr 3fr 2fr;
  position: fixed;
  background-color: $header-backcolor;

  /*max-width: 962px;*/
  min-width: 375px;

  > {
    a.header-logo {
      display: block;
      width: 500px;
      font-size: 2em;
      font-weight: bold;
      font-style: oblique;
      color: #ffffff;
      //justify-content: center;
      //align-items: center;
    }

    form {
      display: flex;
      height: inherit;
      margin: auto;
    }
  }
}

input.header-input-text {
  //display: block;
  display: flex;
  //width: 30em;
  height: 3em;
  float: left;
  margin: auto auto;
}

#header {
  form input.header-input-img {
    display: flex;
    //display: block;
    //width: 10em;
    height: inherit;
    border: none;
    background: url('../img/search_FILL0_wght400_GRAD0_opsz48.png') 50% 50% no-repeat;
    background-size: 24px auto;
    margin: auto;
  }

  > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: inherit;
    height: inherit;

    > li {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      color: rgb(255, 255, 255, 0.8);

      > a {
        display: flex;
        //display: flex;
        //justify-content: space-around;
        //align-items: center;
        color: rgb(255, 255, 255, 0.8);
      }
    }
  }
}