@import 'util.scss';

#header {
  display: grid;
  width: 100%;
  height: 4em;
  margin: auto;
  padding: 0 2em;
  grid-template-columns: 150px 1fr;
  background-color: $header-backcolor;
  position: fixed;
  z-index: 10;

  > a.header-logo {
    display: block;
    width: inherit;
    font-size: $big-fontsize;
    font-weight: bold;
    font-style: oblique;
    color: $font-color-white;
  }

  ul {
    display: flex;
    width:100%;
    height:100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include test;

    li {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $font-color-gray;

      a {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: $font-color-gray;


      }
    }
  }
}

li.header-dropmenu {
  display: flex;
  flex-direction: column;
  @include test;


  span.header-dropmenu-02 {
    @include test;


    a.header-dropmenu-03 {
      @include test;
    }
  }

}
