$header-backcolor:#f7323f;

body {
  width: 100%;

  article {
    @include body;

    table {
      @include body;

      tr {
        @include body;

        th {
          background: $header-backcolor;
        }

        td {
        }
      }
    }
  }
}