<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content = "text/html; charset = UTF-8">
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <block th:replace="common/dropmenu :: menu"></block>
    <title>문의사항 상세 page</title>

    <script>
        $(document).ready(function(){
            $("input, textarea").focus(function(){
                $(this).css("background-color", "powderblue");
            });
            $("input, textarea").blur(function(){
                $(this).css("background-color", "white");
            });
        });
    </script>

</head>

<body th:align="center">
<header th:replace="common/header :: header"></header>
<article>
    <h3 th:align="center" style="color:#d2691e">문의사항 상세내용</h3>
    <hr>

<form th:action="@{updateReview}" method="POST">
    <input type="hidden" name="seq" th:value="${reviewList.seq}">
    <table class="table table-striped" th:align="center" border = "1" th:cellpadding = "1" th:cellspacing = "1" th:width="750px">

        <tr>
            <td style="width:10%" th:text = "No"></td>
            <td th:text="${reviewList.seq}"></td>
        </tr>
        <tr>
            <td th:text="분류" th:width="70" th:align="cetner"></td>
            <td th:text="${reviewList.category}" th:width="20"></td>
        </tr>
        <tr>
            <td th:text="작성자"></td>
            <td th:text="${reviewList.writer}"></td>
        </tr>
        <tr>
            <td th:text="제목"></td>
            <td><input class="input-group-text" type="text" name="title" size="20" th:value="${reviewList.title}"></td>
        </tr>
        <tr>
            <td th:text="내용"></td>
            <td><textarea class="input-group-text" name="content" cols="40" rows="10" th:text="${reviewList.content}"></textarea>
        </tr>
        <tr>
            <td th:text="등록일"></td>
            <td th:text="${#dates.format(reviewList.createDate, 'yyyy-MM-dd HH:ss')}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="글 수정"/>
            </td>
    </table>
</form>

<!--<form th:action="@{|/mypetboard/review/insertReply/${reviewList.seq}|}" method="post">
    <table class="table table-striped" th:align="center" th:border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td th:width="100" th:align="center">제목</td>
            <td><input class="input-group-text" type="text" name="title" size="20"/></td>
        </tr>
        <tr>
            <td th:align="center">내용</td>
            <td><textarea class="input-group-text" name = "content" cols="20" rows="10"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="댓글등록"/>
            </td>
        </tr>
    </table>
</form>-->
<!--<tr th:each="reply : ${replyList}">-->
<!--<td th:text="${reply.title}"></td>-->
<!--<td th:text="${reply.content}"></td></tr>-->

<!--<button type="submit" th:href="@{/removeReview(seq=${reviewList.seq})}">글삭제</button>-->
<!--<a th:href="@{removeReview(seq=${reviewList.seq})}"><button class="btn btn-outline-success">글 삭제</button></a>-->
<a th:href="@{/mypetboard/review/reviewList}"><button class="btn btn-outline-success">문의사항 List로 이동</button></a>
</article>
<footer th:replace="common/footer :: footer"></footer>
</body>
</html>