<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <!--js파일 경로 설정-->
    <!--<script src="/resources/js/Addressapi.js"></script>-->
</head>
<body>
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="text-white" th:href="@{/member/ownermember/insertOwnerMember}">사업자회원가입</a>
        <a class="text-white" th:href="@{/mypetboard/hotel/insertHotel}">가게등록</a>
        <form class="d-flex">
            <input class = "form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button  class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<form th:object="${hotel}" th:action="@{/mypetboard/hotel/insertHotel}" method="post"  enctype="multipart/form-data">
    <table class="table table-striped" border="1" cellpadding="0" cellspacing="0">
        <!--<input name="OwnerMemberSeq" type="hidden" th:value="${ownerMember.ownerMemberSeq}">
        <input name="CategorySeq" type="hidden" th:value="${ownerMember.categorySeq}">-->
        <tr>
            <td width="70">호텔명</td><td align="left">
            <input type = "text" class="input-group-text" name="StoreName"/></td>
        </tr>
        <tr>
            <td th:for="postcode" width="70">우편번호</td><td align="left">
            <input type = "text" class="input-group-text" name="Postcode" th:field="*{postcode}"  id="postcode" placeholder="우편번호"/>
        </td>
        </tr>
        <tr>
            <td width="70">주소</td><td align="left">
            <input type = "text" class="input-group-text" name="Address" th:field="*{address}"  id="Address" placeholder="주소"/>
        </td>
        </tr>
            <tr>
            <td width="70">상세주소</td><td align="left">
            <input type = "text" class="input-group-text" name="DetailAddress" th:field="*{detailAddress}"id="detailAddress" placeholder="상세주소"/>
            </tr>
        <tr>
            <td width="70">주소검색</td><td align="left">
            <input type="button" onclick="Postcode()" value="주소검색"><br>
        </tr>
        <tr>
            <td width="70">호텔연락처</td><td align="left">
            <input type = "text" class="input-group-text" name="StoreTelephone"/></td>
        </tr>
        <tr>
            <td th:text="펫사이즈선택" width=80></td>
            <th align="left"><!--<input name="category" type="text" th:value="${category}">-->
                <select name="PetSize" title="2">
                    <option value="소형">소형</option>
                    <option value="중형">중형</option>
                    <option value="대형">대형</option>
                    <option value="대형">전체</option>
                </select>
            </th>
        </tr>
        <tr>
            <td width="70">호텔상세정보</td><td align="left">
            <input type = "text" class="input-group-text" name="Info"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type = "submit" value = "룸등록페이지로이동"/></td>
        </tr>
    </table>
    <input type="file" name="hotelimage" multiple = "multiple"/>
</form>
<script>
    function Postcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("postcode").value = data.zonecode;
                document.getElementById("Address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>
</body>
</html>