<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/boardInfo.css"/>
<body>
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="text-white" th:href="@{/member/ownermember/insertOwnerMember}">사업자회원가입</a>
        <a class="text-white" th:href="@{/mypetboard/accommodation/getAccommodationList}">숙소목록</a>
        <a class="text-white" th:href="@{/mypetboard/beauty/getBeautyList}">애견미용실목록</a>
        <a class="text-white" th:href="@{/mypetboard/hospital/getHospitalList}">병원목록</a>
        <a class="text-white" th:href="@{/mypetboard/foodCafe/getFoodCafeList}">음식점카페목록</a>
        <form class="d-flex">
            <input class = "form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button  class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<table class="table table-striped" border="1" cellpadding="0" cellspacing="0" width="700" >
    <input name="seq" type="hidden" th:value="${accommodation.seq}">
    <tr>
        <td  th:text ="상세카테고리"></td>
        <td th:text="${accommodation.detailCategory}"></td>
    </tr>
    <tr>
        <td  th:text ="호텔이름"></td>
        <td th:text="${accommodation.storeName}"></td>
    </tr>
    <tr>
        <td th:text ="호텔상세">
        <td th:text="${accommodation.info}"></td>
            <td><img th:src = "@{${imgLoding}}"></td>
    </tr>
    <tr>
        <td th:text ="호텔주소"></td>
        <td th:text = "${accommodation.address}"></td>

    </tr>
    <tr>
        <td th:text = "호텔상세주소"></td>
        <td th:text = "${accommodation.detailAddress}"></td>
    </tr>
    <tr>
        <td th:text = "우편번호"></td>
        <td th:text = "${accommodation.postcode}"></td>
    </tr>
    <tr>
        <td th:text="호텔전화번호"></td>
        <td th:text = "${accommodation.storeTelephone}"></td>
    </tr>
    <tr>
        <td th:text="펫사이즈"></td>
        <td th:text = "${accommodation.petSize}"></td>
    </tr>
    <tr>
        <td th:text="지도"></td>
        <td id="map" style="width:500px;height:350px;"></td>
    </tr>
</table>

<td>룸 정보</td>
        <td>
            <ul>
            <li th:each="room : ${accommodation.roomList}">
                <div th:text="${room.roomName}"></div>
                <div th:text="${room.roomType}"></div>
                <div th:text="${room.roomPrice}"></div>
                <div th:text="${room.roomInfo}"></div>
            </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td th:each="img :${rimgLoading}">
            <img th:src="@{${img}}" alt="gallery">
        </td>
    </tr>

</table>
<a class="text-white" th:href="@{/mypetboard/accommodation/getAccommodationList}">숙소등록페이지이동</a>
<div>
    <a href="#" onclick="history.back(-1); return false;" class="btn btn-secondary justify-content-center">이전페이지로 돌아가기</a>
</div>


    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=088c012e3c3a608c80dd85e813d377f8&libraries=services"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);


        let Address = [[${accommodation.address}]] ;
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(Address , function(result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0; border-radius: 5px;">숙소위치</div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });
        /*]]>*/
    </script>
<div id = "wrap show">
<div id = "content" class="detail">
    <div class = "top">
       <div class = "left">
        <div class="info-pc">
            <div class="swiper-container info-top">
                <img th:src = "@{${imgLoding}}" width="490px" height="348px">
            </div>
        </div>
       </div>
        <div class = "right">
             <h2 th:text="${accommodation.storeName}" ></h2>
             <p  th:text = "${accommodation.address}"></p>
             <p class="address" th:text = "${accommodation.postcode}"></p>
             <div class="comment">
                 <strong>가게상세정보</strong>
                 <p class="address" th:text = "${accommodation.info}"></p>
             </div>
             </div>
    </div>
    <div class="tab">
        <button class="on">
            <span>객실안내/예약</span>
        </button>

    </div>
    <article class="room_info" th:each="img :${rimgLoading}">
        <div class="room" th:each="room : ${accommodation.roomList}" >
            <p class="pic_view">
                <img th:src="@{${img}}" alt="gallery">
            </p>
            <strong class="title"  th:text="${room.roomName}"></strong>
            <div class="info">
                <div class="hotel">
                    <div class="price">
                        <strong>
                            "가격"
                        </strong>
                        <div>
                          <p><b style="color: rgba(0,0,0,1)" th:text="${room.roomPrice}"></b></p>
                        </div>
                        <div>
                         <strong th:text="${room.roomInfo}"></strong>
                        </div>
                        <button class="button"></button>
                    </div>
                </div>
            </div>


    </article>
</div>
</div>
</body>
</html>